---
import Mainlayout from "../layouts/mainlayout.astro";
---

<Mainlayout>
  <!--====== Start Page-title-area section ======-->
  <section
    class="page-title-area text-white bg_cover"
    style="background-image: url(/assets/images/bg/about-bg.jpg)"
  >
    <div class="container">
      <!--======  Page-title-Inner ======-->
      <div class="page-title-inner text-center">
        <h1 class="page-title">About Us</h1>
        <div class="gd-breadcrumb">
          <span class="breadcrumb-entry"><a href="index.html">Home</a></span>
          <span class="separator"></span>
          <span class="breadcrumb-entry active">About Us</span>
        </div>
      </div>
    </div>
  </section>
  <!--====== End Page-title-area section ======-->
  <!--====== Start About Section ======-->
  <section class="about-section pt-95 pb-100">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <!--====== Section-title ======-->
          <div class="section-title mb-50 wow fadeInLeft">
            <span class="sub-title"
              ><i class="flaticon-plant"></i>Al Fakih Trust</span

            >
            <h3 style="font-size: 28px; color: black;  ">
              Al Fakih Trust: Empowering Communities Through Faith and Service
            </h3>
          </div>
        </div>
        <div class="col-lg-6">
          <!--====== About Content Box ======-->
          <div class="about-content-box mb-50 wow fadeInRight">
            <p class="mb-30">
              Al-Fakih Trust is here to help. We're an organization that believes
              in lending a hand to those who need it most. Our goal is to make
              life a little easier for people who are struggling, following the
              teachings of Islam about kindness and caring for others.
            </p>
            <ul class="check-style-one mb-40">
              <li>
                <i class="far fa-check"></i>All Noor Trust boasts an experienced
              </li>
              <li>
                <i class="far fa-check"></i> comprised of award-winning and professional
                members
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--====== Start Features Section ======-->
      <section class="features-section p-r z-1 pb-100 pt-100">
        <div class="features-wrapper">
          <div
            class="features-bg bg_cover"
            style="background-image: url(/assets/images/bg/features-bg-1.jpg)"
          >
          </div>
          <div
            class="features-bgc-content-box main-bg text-white wow fadeInRight"
          >
            <div class="features-content-box">
              <!--====== Section-title ======-->
              <div class="section-title mb-50 wow fadeInUp">
                <span class="sub-title"
                  ><i class="flaticon-plant"></i>Al-Fakih Trust</span
                >
                <h2>We Offers Ramzan Food Packs</h2>
              </div>
              <p class="mb-40">
                Ramzan food packs, Our specially curated packages not only
                provide essential nourishment during the holy month but also
                symbolize solidarity and support for those in need. Each pack is
                carefully designed to include nutritious staples, ensuring that
                families facing food insecurity can observe Ramzan with dignity
                and sustenance, fostering a sense of community and compassion."
              </p>
              <div class="single-features-item mb-30 wow fadeInDown">
                <div class="icon">
                  <i class="flaticon-pruning-shears"></i>
                  <span class="shape-circle"></span>
                </div>
                <div class="text">
                  <h5 class="title">Nutritious Essentials</h5>
                  <p>
                    Our Ramzan food packs provide essential nourishment,
                    including grains, pulses, oil, and dates, ensuring families
                    are supported throughout the holy month.
                  </p>
                </div>
              </div>
              <div class="single-features-item mb-30 wow fadeInUp">
                <div class="icon">
                  <i class="flaticon-gardening-1"></i>
                  <span class="shape-circle"></span>
                </div>
                <div class="text">
                  <h5 class="title">Symbol of Solidarity</h5>
                  <p>
                    Our Ramzan food packs ensure families have essential
                    sustenance, including grains, pulses, oil, and dates, during
                    the holy month.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--====== End Features Section ======-->

      <div class="container pb-50 pt-100">
        <div class="row justify-content-center">
          <div class="col-12 text-center">
            <h4>Our Impact</h4>
            <h3 style="color: black;">Our Impact In The World</h3>
          </div>
        </div>
      </div>
      <div class="row justify-content-center pb-200">
        <div class="col-lg-4 col-md-6 col-sm-6">
          <!--====== About Image Item ======-->
          <div class="about-img-item mb-30 wow fadeInUp">
            <img src="/assets/images/about/about-3.jpg" style="max-width:370px;" alt="About Image" />
            <h5 class="text-center" style="color: black;">Food Security Initiatives</h5>
            <p class="mt-2 text-center">
              At Al-Fakih Trust, we recognize the importance of addressing food
              insecurity within our communities. Through our dedicated food
              security initiatives, we have been able to provide essential
              support to families facing hunger. Our Ramzan food pack
              distributions, for example, have ensured that vulnerable
              individuals and families have access to nutritious meals during
              the holy month. Additionally, our ongoing food projects aim to
              tackle food insecurity at its root, implementing sustainable
              solutions to ensure long-term food security for those in need.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <!--====== About Image Item ======-->
          <div class="about-img-item mb-30 wow fadeInDown">
            <img src="/assets/images/about/about-4.jpg" style="max-width:370px;" alt="About Image" />
            <h5 class="text-center" style="color: black;">Education Empowerment Programs</h5>
            <p class="mt-2 text-center">
              Education is a fundamental human right and a powerful tool for
              empowerment. Through our education empowerment programs, we have
              worked tirelessly to ensure that every child has access to quality
              education, regardless of their socio-economic background. From
              distributing free books and school supplies to providing
              scholarships and supporting Islamic schools and madrasas, we are
              committed to breaking down barriers to education and empowering
              future generations to reach their full potential.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <!--====== About Image Item ======-->
          <div class="about-img-item mb-30 wow fadeInUp">
            <img src="/assets/images/about/about-5.jpg" style="max-width:370px;" alt="About Image" />
            <h5 class="text-center" style="color: black;">Community Development Projects</h5>
            <p class="mt-2 text-center">
              At Al-Fakih Trust, we believe in the importance of holistic
              community development. Our community development projects focus on
              building sustainable infrastructure and empowering communities to
              become self-reliant. Whether it's through the construction of
              mosques, shelters for the homeless, or initiatives promoting
              sustainable livelihoods, we are dedicated to enhancing the
              well-being and resilience of communities. By fostering a sense of
              ownership and pride, we empower communities to thrive and create
              lasting positive change from within.
            </p>
          </div>
        </div>
      </div>

      <section
        class="cta-bg-section bg_cover pt-100 p-r z-1"
        style="background-image: url(assets/images/bg/cta-bg-1.jpg);"
      >
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-5">
              <!--======  CTA Content Box  ======-->
              <div class="cta-content-box text-white mb-50 wow fadeInLeft">
                <div class="section-title mb-20">
                  <span class="sub-title"
                    ><i class="flaticon-plant"></i>Al-Fakih Trust</span
                  >
                  <h2>Bringing Light, Building Communities, Changing Lives</h2>
                </div>
                <p class="mb-30">
                  Illuminating Hope, Nurturing Communities, and Transforming
                  Lives through Compassionate Action.
                </p>
                <a href="team.html" class="main-btn golden-btn">Donate Know</a>
              </div>
            </div>
            <div class="col-lg-7">
              <!--======  CTA Image Box  ======-->
              <!-- <div class="cta-image-box mb-50 wow fadeInRight">
                <img src="assets/images/gallery/cta-1.jpg" style="max-width:650px" alt="Image" />
              </div> -->
            </div>
          </div>
        </div>
      </section><!--====== End CTA Section  ======-->

      <div class="row justify-content-center pt-300">
        <div class="col-lg-10">
          <!--====== About Wrapper ======-->
          <div
            class="about-wrapper-two gray-bg mt-minus-110 p-r wow fadeInDown"
          >
            <div class="row no-gutters justify-content-center">
              <div class="col-lg-4 col-md-6 col-sm-12">
                <!--====== About features Item ======-->
                <div class="about-features-item text-center">
                  <div
                    class="hover-bg bg_cover"
                    style="
                  background-image: url(/assets/images/about/hover-bg.jpg);
                "
                  >
                  </div>
                  <div class="icon">
                    <i class="flaticon-target"></i>
                  </div>
                  <div class="text">
                    <h3 class="title">Our Mission</h3>
                    <p>
                      At Al Fakih Trust, our mission is to provide a welcoming
                      and inclusive environment for individuals of all
                      backgrounds to connect with their faith and community. We
                      are dedicated to preserving and promoting the teachings of
                      Islam, while also serving as a source of support and
                      guidance for our community members.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12">
                <!--====== About features Item ======-->
                <div class="about-features-item item-active text-center">
                  <div
                    class="hover-bg bg_cover"
                    style="
                  background-image: url(/assets/images/about/hover-bg.jpg);
                "
                  >
                  </div>
                  <div class="icon">
                    <i class="flaticon-vision"></i>
                  </div>
                  <div class="text">
                    <h3 class="title">Our Vision</h3>
                    <p>
                      Our vision at Al Fakih Trust is to create a vibrant and
                      thriving Muslim community that is united in faith,
                      compassion, and service to others. We envision Al Fakih
                      Mosque as a center of excellence in Islamic education,
                      community engagement, and social welfare, enriching the
                      lives of all who enter its doors.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12">
                <!--====== About features Item ======-->
                <div class="about-features-item text-center">
                  <div
                    class="hover-bg bg_cover"
                    style="
                  background-image: url(/assets/images/about/hover-bg.jpg);
                "
                  >
                  </div>
                  <div class="icon">
                    <i class="flaticon-management"></i>
                  </div>
                  <div class="text">
                    <h3 class="title">Plan & Goals</h3>
                    <p>
                      Mosque Expansion: One of our primary goals is to expand
                      and enhance our existing mosque facilities to accommodate
                      the growing needs of our community. We are dedicated to
                      providing comprehensive educational programs that cater to
                      individuals of all ages and levels of understanding.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--====== End About Section ======-->
  <!--====== Start Testimonial Section  ======-->
  <section class="testimonial-section pt-100 pb-100">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-12">
          <div class="section-title text-center mb-50 wow fadeInDown">
            <span class="sub-title"
              ><i class="flaticon-plant"></i>Testimonials</span
            >
            <h2 style="color: black;">Global Clients Feedback</h2>
          </div>
        </div>
      </div>
      <!--====== Testimonial Slider  ======-->
      <div class="testimonial-slider-one wow fadeInUp">
        <!--====== Testimonial Item  ======-->
        <div class="single-testimonial-item">
          <div class="testimonial-inner-content">
            <div class="quote-rating-box">
              <div class="icon">
                <img
                  src="assets/images/testimonial/quote.png"
                  alt="quote icon"
                />
              </div>
              <div class="ratings-box">
                <h6>Quality Services</h6>
                <ul class="ratings">
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                </ul>
              </div>
            </div>
            <p>
              Volunteering with Al-Fakih Trust's projects has been fulfilling.
              Thank you for the opportunity.
            </p>
            <div class="author-thumb-title">
              <div class="author-thumb">
                <img
                  src="assets/images/testimonial/thumb-1.jpg"
                  alt="Author Image"
                />
              </div>
              <div class="author-title">
                <h6 class="title">Mohammad Rahman</h6>
                <p class="position">CEO & Founder</p>
              </div>
            </div>
          </div>
        </div>
        <!--====== Testimonial Item  ======-->
        <div class="single-testimonial-item">
          <div class="testimonial-inner-content">
            <div class="quote-rating-box">
              <div class="icon">
                <img
                  src="assets/images/testimonial/quote.png"
                  alt="quote icon"
                />
              </div>
              <div class="ratings-box">
                <h6>Quality Services</h6>
                <ul class="ratings">
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                </ul>
              </div>
            </div>
            <p>
              Al-Fakih Trust's Ramzan food pack was a blessing. Thank you for
              your support.
            </p>
            <div class="author-thumb-title">
              <div class="author-thumb">
                <img
                  src="assets/images/testimonial/thumb-2.jpg"
                  alt="Author Image"
                />
              </div>
              <div class="author-title">
                <h6 class="title">Fatima Khan</h6>
                <!-- <p class="position">CEO & Founder</p> -->
              </div>
            </div>
          </div>
        </div>
        <!--====== Testimonial Item  ======-->
        <div class="single-testimonial-item">
          <div class="testimonial-inner-content">
            <div class="quote-rating-box">
              <div class="icon">
                <img
                  src="assets/images/testimonial/quote.png"
                  alt="quote icon"
                />
              </div>
              <div class="ratings-box">
                <h6>Quality Services</h6>
                <ul class="ratings">
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                </ul>
              </div>
            </div>
            <p>
              Volunteering with Al-Fakih Trust has been inspiring. Thank you for
              your dedication.
            </p>
            <div class="author-thumb-title">
              <div class="author-thumb">
                <img
                  src="assets/images/testimonial/thumb-3.jpg"
                  alt="Author Image"
                />
              </div>
              <div class="author-title">
                <h6 class="title">Ahmed Ali</h6>
                <p class="position">Web Designer</p>
              </div>
            </div>
          </div>
        </div>
        <!--====== Testimonial Item  ======-->
        <div class="single-testimonial-item">
          <div class="testimonial-inner-content">
            <div class="quote-rating-box">
              <div class="icon">
                <img
                  src="assets/images/testimonial/quote.png"
                  alt="quote icon"
                />
              </div>
              <div class="ratings-box">
                <h6>Quality Services</h6>
                <ul class="ratings">
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                </ul>
              </div>
            </div>
            <p>
              Receiving a Ramzan food pack from Al-Fakih Trust meant a lot. Thank
              you for your kindness.
            </p>
            <div class="author-thumb-title">
              <div class="author-thumb">
                <img
                  src="assets/images/testimonial/thumb-1.jpg"
                  alt="Author Image"
                />
              </div>
              <div class="author-title">
                <h6 class="title">Aisha Patel</h6>
                <p class="position">SR Manager</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!--====== End Testimonial Section  ======-->
  <h4 class="text-center display-4" style="color: black;">FAQ</h4>
  <section class="faq-section pt-95">
    <div class="container">
      <div class="accordion" id="accordionOne">
        <div class="row">
          <div class="col-lg-6">
            <div class="faq-content-box wow fadeInLeft">
              <div class="accordion-card mb-15">
                <div class="accordion-header">
                  <h6
                    class="accordion-title"
                    data-toggle="collapse"
                    data-target="#collapse0"
                    aria-expanded="true" style="color: black;"
                  >
                    What does Al-Fakih Trust do?
                  </h6>
                </div>
                <div
                  id="collapse0"
                  class="accordion-collapse collapse show"
                  data-parent="#accordionOne"
                >
                  <div class="accordion-body">
                    <p>
                      Al-Fakih Trust is a charitable organization dedicated to
                      providing food aid, education support, community
                      development, and various other humanitarian initiatives to
                      those in need.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-card mb-15">
                <div class="accordion-header">
                  <h6
                    class="accordion-title collapsed"
                    data-toggle="collapse"
                    data-target="#collapse1"
                    aria-expanded="false" style="color: black;"
                  >
                    How can I donate to Al-Fakih Trust?
                  </h6>
                </div>
                <div
                  id="collapse1"
                  class="accordion-collapse collapse"
                  data-parent="#accordionOne"
                >
                  <div class="accordion-body">
                    <p>
                      You can donate to Al-Fakih Trust online through our website
                      or by contacting our donation hotline. We also accept
                      donations via bank transfer and check.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-card mb-15">
                <div class="accordion-header">
                  <h6
                    class="accordion-title collapsed"
                    data-toggle="collapse"
                    data-target="#collapse2"
                    aria-expanded="false" style="color: black;"
                  >
                    How does Al-Fakih Trust ensure transparency and
                    accountability?
                  </h6>
                </div>
                <div
                  id="collapse2"
                  class="accordion-collapse collapse"
                  data-parent="#accordionOne"
                >
                  <div class="accordion-body">
                    <p>
                      Al-Fakih Trust is committed to transparency and
                      accountability. We regularly publish financial reports,
                      undergo independent audits, and adhere to strict
                      governance standards to ensure that donor funds are used
                      effectively and responsibly.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="faq-content-box wow fadeInRight">
              <div class="accordion-card mb-15">
                <div class="accordion-header">
                  <h6
                    class="accordion-title"
                    data-toggle="collapse"
                    data-target="#collapse5"
                    aria-expanded="false" style="color: black;"
                  >
                    Can I volunteer with Al-Fakih Trust?
                  </h6>
                </div>
                <div
                  id="collapse5"
                  class="accordion-collapse collapse"
                  data-parent="#accordionOne"
                >
                  <div class="accordion-body">
                    <p>
                      Yes, we welcome volunteers who are passionate about making
                      a difference. You can sign up to volunteer through our
                      website or reach out to our volunteer coordinator for more
                      information on available opportunities.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-card mb-15">
                <div class="accordion-header">
                  <h6
                    class="accordion-title"
                    data-toggle="collapse"
                    data-target="#collapse6"
                    aria-expanded="false" style="color: black;"
                  >
                    How does Al-Fakih Trust select beneficiaries for its
                    programs?
                  </h6>
                </div>
                <div
                  id="collapse6"
                  class="accordion-collapse collapse"
                  data-parent="#accordionOne"
                >
                  <div class="accordion-body">
                    <p>
                      Beneficiaries for our programs are selected based on a
                      needs assessment conducted by our team. We prioritize
                      individuals and communities facing the greatest hardships
                      and ensure that our assistance reaches those who need it
                      most.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-card mb-15">
                <div class="accordion-header">
                  <h6
                    class="accordion-title collapsed"
                    data-toggle="collapse"
                    data-target="#collapse7"
                    aria-expanded="false" style="color: black;"
                  >
                    How can I stay updated on Al-Fakih Trust's work and
                    activities?
                  </h6>
                </div>
                <div
                  id="collapse7"
                  class="accordion-collapse collapse"
                  data-parent="#accordionOne"
                >
                  <div class="accordion-body">
                    <p>
                      You can stay updated on Al-Fakih Trust's work and
                      activities by subscribing to our newsletter, following us
                      on social media, and regularly visiting our website for
                      news and updates. We also host events and campaigns
                      throughout the year, so keep an eye out for opportunities
                      to get involved!
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</Mainlayout>
