---
import Mainlayout from "../layouts/mainlayout.astro";
---

<Mainlayout>
    <section class="features-section pt-95">
        <div class="container">
            <div class="row align-items-xl-center">
                <div class="col-lg-6">
                    <div class="section-title mb-55 wow fadeInLeft">
                        <span class="sub-title"><i class="flaticon-plant"></i>Ayitah Charity 
                        </span>
                        <h2>Ayitah Charity Foundation aims to provide aid, improve health care and transform lives in the poverty-stricken communities. </h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="features-content-box mb-55 wow fadeInRight">
                        <p>Every dollar you donate to our projects is so meaningful and is used in full to help provide a sustainable future for entire villages for generations to come.</p>
                        <a href="/about" class="btn-link">Learn More<i class="far fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-md-6 col-sm-12">
                    <div class="features-thumb-item-two mb-40 wow fadeInDown" data-wow-delay=".2s">
                        <div class="thumb">
                            <img src="/assets/images/features/features-6.jpg" alt="Image">
                        </div>
                        <div class="text">
                            <div class="icon">
                                <i class="flaticon-landscape-1"></i>
                            </div>
                            <h5 class="title">Free Food</h5>
                            <p>Complimentary food from charitable organizations.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-12">
                    <div class="features-thumb-item-two mb-40 wow fadeInUp" data-wow-delay=".25s">
                        <div class="thumb">
                            <img src="/assets/images/features/features-7.jpg" alt="Image">
                        </div>
                        <div class="text">
                            <div class="icon">
                                <i class="flaticon-watering-can"></i>
                            </div>
                            <h5 class="title">Free Education</h5>
                            <p>Education granted, charity's gift, knowledge shared.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-12">
                    <div class="features-thumb-item-two mb-40 wow fadeInDown" data-wow-delay=".3s">
                        <div class="thumb">
                            <img src="/assets/images/features/features-8.jpg" alt="Image">
                        </div>
                        <div class="text">
                            <div class="icon">
                                <i class="flaticon-lawnmower"></i>
                            </div>
                            <h5 class="title">Free Accommodation</h5>
                            <p>Shelter offered through charitable generosity.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-12">
                    <div class="features-thumb-item-two mb-40 wow fadeInUp" data-wow-delay=".35s">
                        <div class="thumb">
                            <img src="/assets/images/features/features-9.jpg" alt="Image">
                        </div>
                        <div class="text">
                            <div class="icon">
                                <i class="flaticon-spider-plant"></i>
                            </div>
                            <h5 class="title">Free Books</h5>
                            <p>Free books: Gift of Knowledge, Hope</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</Mainlayout>