---
import Mainlayout from "../../layouts/mainlayout.astro";
import DonationCard from "../../components/DonationCard.astro";
import Breadcrumb from "../../components/Breadcrumb.astro";
---

<Mainlayout>
    <Breadcrumb
        appealname="Fitrana & Eid Gifts"
        appealimage="/assets/images/bg/page-bg-1.jpg"
    />
        <DonationCard program={[]} />

    <!--====== Start Project-Details section ======-->
    <section class="project-details-section">
        <div class="container">
            <div class="project-details-wrapper pb-60">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="project-info mb-30 wow fadeInLeft">
                            <h3 class="title">
                                Spreading Joy and Generosity During Eid
                            </h3>
                            <p>
                                Join our Fitrana and Eid Gift Appeal to spread
                                joy and generosity to those in need during Eid
                                al-Fitr. Your contributions enable us to provide
                                Fitrana and Eid gifts to individuals and
                                families, ensuring that everyone can celebrate
                                this auspicious occasion with happiness and
                                dignity.
                            </p>
                            <ul class="check-style-one mb-60">
                                <li>
                                    <i class="far fa-check"></i>Spreading Eid
                                    Joy: Bringing smiles.
                                </li>
                                <li>
                                    <i class="far fa-check"></i>Generosity in
                                    Giving: Sharing blessings.
                                </li>
                                <li>
                                    <i class="far fa-check"></i>Fitrana Support:
                                    Fostering unity.
                                </li>
                                <li>
                                    <i class="far fa-check"></i>Impactful
                                    Contribution: Making a difference.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="sidebar-widget-area">
                            <div class="block-image wow fadeInDown">
                                <img
                                    src="/assets/images/gallery/project-single-1.jpg"  
                                    alt="Project Image"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="block-image wow fadeInDown">
                            <img
                                src="/assets/images/gallery/project-single-1.jpg" 
                                alt="Project Image"
                            />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="block-image wow fadeInUp">
                            <img
                                src="/assets/images/gallery/project-single-2.jpg"  
                                alt="Project Image"
                            />
                        </div>
                    </div>
                </div>
                <h3>Impact of Your Support</h3>
                <p>
                    Your support for our Fitrana and Eid Gift Appeal has a
                    direct impact on individuals and families during Eid
                    al-Fitr. By contributing, you're spreading joy, generosity,
                    and blessings to those in need, ensuring that they can
                    celebrate this special occasion with happiness and dignity.
                    Together, we can make Eid al-Fitr a memorable and joyful
                    celebration for everyone.
                </p>

                <h3>Ways to Contribute</h3>
                <p>
                    There are various ways you can contribute to our Fitrana and
                    Eid Gift Appeal. Whether by making a financial donation,
                    volunteering your time for gift distribution, or donating
                    Eid gifts and essentials, your support ensures that everyone
                    can experience the joy of Eid al-Fitr.
                </p>
            </div>
        </div>
    </section><!--====== End Project-Details section ======-->
</Mainlayout>
