---
import Mainlayout from "../../layouts/mainlayout.astro";
import DonationCard from "../../components/DonationCard.astro";
import Breadcrumb from "../../components/Breadcrumb.astro";
---

<Mainlayout>
    <Breadcrumb
        appealname="Zakat in Ramadan"
        appealimage="/assets/images/bg/page-bg-1.jpg"
    />
        <DonationCard program={[]} />

    <!--====== Start Project-Details section ======-->
    <section class="project-details-section">
        <div class="container">
            <div class="project-details-wrapper pb-60">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="project-info mb-30 wow fadeInLeft">
                            <h3 class="title">
                                Empowering Change Through Giving
                            </h3>
                            <p>
                                Join our Zakat in Ramadan Appeal to make a
                                difference in the lives of those in need during
                                the holy month. Your Zakat contributions enable
                                us to provide essential aid, support, and
                                opportunities to individuals and families facing
                                adversity.
                            </p>
                            <ul class="check-style-one mb-60">
                                <li>
                                    <i class="far fa-check"></i>Empowering
                                    Change: Making an impact.
                                </li>
                                <li>
                                    <i class="far fa-check"></i>Ramadan Zakat
                                    Support: Fostering unity.
                                </li>
                                <li>
                                    <i class="far fa-check"></i>Giving Back:
                                    Offering assistance.
                                </li>
                                <li>
                                    <i class="far fa-check"></i>Impactful
                                    Contribution: Changing lives.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="sidebar-widget-area">
                            <div class="block-image wow fadeInDown">
                                <img
                                    src="/assets/images/gallery/project-single-1.jpg" 
                                    alt="Project Image"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="block-image wow fadeInDown">
                            <img
                                src="/assets/images/gallery/project-single-1.jpg" 
                                alt="Project Image"
                            />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="block-image wow fadeInUp">
                            <img
                                src="/assets/images/gallery/project-single-2.jpg" 
                                alt="Project Image"
                            />
                        </div>
                    </div>
                </div>
                <h3>Impact of Your Support</h3>
                <p>
                    Your support for our Zakat in Ramadan Appeal has a
                    profound impact on individuals and families facing
                    adversity during the holy month. By contributing your
                    Zakat, you're providing essential aid, support, and
                    opportunities for them to overcome challenges and build
                    better futures. Together, we can make a meaningful
                    difference by empowering change and fostering unity
                    through giving during Ramadan.
                </p>

                <h3>Ways to Contribute</h3>
                <p>
                    There are various ways you can contribute to our Zakat
                    in Ramadan Appeal. Whether by calculating and donating
                    your Zakat, volunteering your time for distribution
                    efforts, or spreading awareness about our cause, your
                    support ensures that those in need receive the
                    assistance and support they deserve during Ramadan.
                </p>
            </div>
        </div>
    </section><!--====== End Project-Details section ======-->
</Mainlayout>
