<!--====== Sidebar Wrapper ======-->
<div class="modal fade sidebar-panel-wrapper" id="sidebar-modal">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <button class="close" data-dismiss="modal"
                ><i class="far fa-times"></i></button
            >
            <div class="sidebar-wrapper">
                <div class="sidebar-information-area">
                    <div class="row no-gutters">
                        <div class="col-lg-4 sidebar-widget">
                            <div class="sidebar-info-widget">
                                <a href="index" class="footer-logo"
                                    ><img
                                        src="/assets/images/logo/logo.png"
                                        alt="Brand Logo"
                                    /></a
                                >
                                <p>
                                    Sed ut perspiciatis unde omni natus
                                    voluptatem accusantium doloremque laudantium
                                    aperia maquep quae abillo inventore
                                    veritatis architecto
                                </p>
                                <div class="social-item">
                                    <h6>Follow Us</h6>
                                    <ul class="social-link">
                                        <li>
                                            <a href="#"
                                                ><i class="fab fa-facebook-f"
                                                ></i></a
                                            >
                                        </li>
                                        <li>
                                            <a href="#"
                                                ><i class="fab fa-twitter"
                                                ></i></a
                                            >
                                        </li>
                                        <li>
                                            <a href="#"
                                                ><i class="fab fa-youtube"
                                                ></i></a
                                            >
                                        </li>
                                        <li>
                                            <a href="#"
                                                ><i class="fab fa-pinterest-p"
                                                ></i></a
                                            >
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 sidebar-widget">
                            <div class="sidebar-info-widget">
                                <h4 class="title">Get In Touch</h4>
                                <div class="contact-info-item-two">
                                    <h6 class="title">
                                        <i class="far fa-map-marker-alt"
                                        ></i>Location
                                    </h6>
                                    <p>
                                        558 Main Street, 2nd Block Melbourne,
                                        Australia
                                    </p>
                                </div>
                                <div class="contact-info-item-two">
                                    <h6 class="title">
                                        <i class="far fa-envelope-open"
                                        ></i>Email Us
                                    </h6>
                                    <p>
                                        <a href="mailto:support@gmail.com"
                                            >support@gmail.com</a
                                        >
                                    </p>
                                </div>
                                <div class="contact-info-item-two">
                                    <h6 class="title">
                                        <i class="far fa-phone-plus"></i>Hotline
                                    </h6>
                                    <p>
                                        <a href="tel:+000(123)45688"
                                            >+000 (123) 456 88</a
                                        >
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 sidebar-widget">
                            <div class="sidebar-info-widget">
                                <h4 class="title">Newsletter</h4>
                                <form>
                                    <div class="form_group">
                                        <input
                                            type="email"
                                            class="form_control"
                                            placeholder="Email Address"
                                            required
                                        />
                                        <button class="main-btn secondary-btn"
                                            >Subscribe Now</button
                                        >
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar-gallery pt-80">
                    <div class="row">
                        <div class="col-lg-2 col-md-4 col-4">
                            <div class="single-gallery-item">
                                <div class="gallery-img">
                                    <img
                                        src="/assets/images/gallery/sgl-1.jpg"
                                        alt="Gallery Image"
                                    />
                                    <div class="hover-overlay">
                                        <a
                                            href="/assets/images/gallery/sgl-1.jpg"
                                            class="img-popup icon-btn"
                                            ><i class="far fa-plus"></i></a
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-4">
                            <div class="single-gallery-item">
                                <div class="gallery-img">
                                    <img
                                        src="/assets/images/gallery/sgl-2.jpg"
                                        alt="Gallery Image"
                                    />
                                    <div class="hover-overlay">
                                        <a
                                            href="/assets/images/gallery/sgl-2.jpg"
                                            class="img-popup icon-btn"
                                            ><i class="far fa-plus"></i></a
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-4">
                            <div class="single-gallery-item">
                                <div class="gallery-img">
                                    <img
                                        src="/assets/images/gallery/sgl-3.jpg"
                                        alt="Gallery Image"
                                    />
                                    <div class="hover-overlay">
                                        <a
                                            href="/assets/images/gallery/sgl-3.jpg"
                                            class="img-popup icon-btn"
                                            ><i class="far fa-plus"></i></a
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-4">
                            <div class="single-gallery-item">
                                <div class="gallery-img">
                                    <img
                                        src="/assets/images/gallery/sgl-4.jpg"
                                        alt="Gallery Image"
                                    />
                                    <div class="hover-overlay">
                                        <a
                                            href="/assets/images/gallery/sgl-4.jpg"
                                            class="img-popup icon-btn"
                                            ><i class="far fa-plus"></i></a
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-4">
                            <div class="single-gallery-item">
                                <div class="gallery-img">
                                    <img
                                        src="/assets/images/gallery/sgl-5.jpg"
                                        alt="Gallery Image"
                                    />
                                    <div class="hover-overlay">
                                        <a
                                            href="/assets/images/gallery/sgl-6.jpg"
                                            class="img-popup icon-btn"
                                            ><i class="far fa-plus"></i></a
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-4">
                            <div class="single-gallery-item">
                                <div class="gallery-img">
                                    <img
                                        src="/assets/images/gallery/sgl-6.jpg"
                                        alt="Gallery Image"
                                    />
                                    <div class="hover-overlay">
                                        <a
                                            href="/assets/images/gallery/sgl-6.jpg"
                                            class="img-popup icon-btn"
                                            ><i class="far fa-plus"></i></a
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--====== Sidebar Wrapper ======-->
<!--====== Header Area ======-->
<header class="header-area header-one" style="background-color: #000000;">
    <div class="container-fluid">
        <!--====== Header Top Bar ======-->
        <div class="header-top-bar text-white main-bg d-none d-xl-block">
            <div class="row">
                <div class="col-lg-10">
                    <!--====== Top Left ======-->
                    <div class="top-left">
                        <span
                            ><i class="far fa-envelope"></i>&nbsp;<b
                                class="title">Email :</b
                            ><a href="mailto:support@gmail.com"
                                >info@ayitahcharity.org</a
                            ></span
                        >&nbsp;&nbsp;|&nbsp;&nbsp;

                        <span
                            ><i class="far fa-phone-plus"></i>&nbsp;<b
                                class="title">Call :</b
                            ><a href="tel:+000(123)45688">+256 775 633856</a
                            ></span
                        >&nbsp;&nbsp;|&nbsp;&nbsp;

                        <span
                            ><i class="far fa-map-marker-alt"></i>&nbsp;<b
                                class="title">Location :</b
                            >Kireka, Opp Kireka miracle centre. Kampala, Uganda</span
                        >
                    </div>
                </div>
                <div class="col-lg-2">
                    <!--====== Top Right ======-->
                    <div class="top-right float-lg-right">
                        <ul class="social-link">
                            <li>
                                <a href="https://www.facebook.com/ayitahcharityfoundation"><i class="fab fa-facebook-f"></i></a
                                >
                            </li>
                            <li>
                                <a href="https://x.com/CharityAyitah?mx=2"><i class="fab fa-twitter"></i></a>
                            </li>
                            <!-- <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== Header Navigation ======-->
    <div class="header-navigation" style="background-color: #000000;">
        <div class="nav-overlay"></div>
        <div class="container-fluid">
            <div class="primary-menu">
                <!--====== Site Branding ======-->
                <div class="site-branding col-2">
                    <a  class="brand-logo"
                        ><img
                            src="/assets/images/logo/acf.png"
                            alt="Site Logo"
                        /></a
                    >
                </div>
                <!--====== Nav Menu ======-->
                <div class="nav-menu" >
                    <!--====== Site Branding ======-->
                    <div class="mobile-logo mb-30 d-block d-xl-none">
                        <a href="index" class="brand-logo"
                            ><img
                                src="/assets/images/logo/acf.png"
                                alt="Site Logo"
                            /></a
                        >
                    </div>
                    <!--=== Nav Search ===-->
                    <div class="nav-search mb-30 d-block d-xl-none">
                        <form>
                            <div class="form_group">
                                <input
                                    type="email"
                                    class="form_control"
                                    placeholder="Search Here"
                                    name="email"
                                    required
                                />
                                <button class="search-btn"
                                    ><i class="fas fa-search"></i></button
                                >
                            </div>
                        </form>
                    </div>
                    <!--====== main Menu ======-->
                    <nav class="main-menu ml-114">
                        <ul>
                            <li class="menu-item has-children">
                                <a href="/">Home</a>
                            </li>
                            <li class="menu-item has-children">
                                <a href="#">Ramadan 2025</a>
                                <ul class="sub-menu">
                                    <li><a href="/ramadan">Ramadan</a></li>
                                    <li>
                                        <a
                                            href="/appeals/provide-iftar-in-ramadan "
                                            >Iftar in Ramadan</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            href="/appeals/provide-food-packs-in-ramadan"
                                            >Food Pack in Ramadan</a
                                        >
                                    </li>
                                    <li>
                                        <a href="/appeals/zakat-in-ramadan"
                                            >Zakat in Ramadan</a
                                        >
                                    </li>
                                    <li>
                                        <a href="/appeals/zakat-calculator"
                                            >Zakat Calculator</a
                                        >
                                    </li>
                                    <li>
                                        <a href="/appeals/fitrana-eid-gifts"
                                            >Fitrana & Eid Gifts</a
                                        >
                                    </li>
                                    <li>
                                        <a href="/appeals/fidya-and-kafarah"
                                            >Give Fidya/Kaffarah</a
                                        >
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <a href="/about">About</a>
                            </li>
                            <li class="menu-item has-children">
                                <a href="#">Appeals</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="/appeals/zakat">Zakat Appeal</a
                                        >
                                    </li>
                                 
                                    <li>
                                        <a href="/appeals/cooked-food"
                                            >Cooked Food</a
                                        >
                                    </li>
                                    <li>
                                        <a href="/appeals/food-packs"
                                            >Food Packs</a
                                        >
                                    </li>
                                    <li>
                                        <a href="/appeals/build-a-masjid"
                                            >Build a Masjid</a
                                        >
                                    </li>
                                    <!-- <li>
                                        <a href="/appeals/quran-school"
                                            >Quran School</a
                                        >
                                    </li> -->
                                    <li>
                                        <a href="/appeals/sadaqah"
                                            >Give Your Sadaqah</a
                                        >
                                    </li>
                                    <li>
                                        <a href="/appeals/livelihood"
                                            >Clean Water</a
                                        >
                                    </li>
                                    <li>
                                        <a href="/appeals/gaza">Orphan Welfare</a>
                                    </li>
                                    <li>
                                        <a href="/appeals/most-needed"
                                            >Where Most Needed</a
                                        >
                                    </li>
                                </ul>
                            </li>

                            <li class="menu-item has-children">
                                <a href="/blogs">Blogs</a>
                            </li>
                            <li class="menu-item has-children">
                                <a href="/contact-us">Contact Us</a>
                            </li>
                        </ul>
                    </nav>
                    <!--====== Menu Button ======-->
                    <div class="menu-button mt-40 d-xl-none">
                        <a href="#" class="main-btn secondary-btn">Donate Now</a
                        >
                    </div>
                </div>
                <!--====== Nav Right Item ======-->
                <div class="col-3">
                    <div
                        class="menu-button d-xl-block d-none"
                        style="text-align: right;"
                    >
                        <a href="#" class="main-btn primary-btn">Donate Now</a>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button
                        class="navbar-toggler float-right" style="margin-left: 160px;"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggler-icon" style="background-color:red !important;" >
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                            
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div><!--====== End Area ======-->
    
</header>
