        <!--====== Start Footer ======-->
        <footer class="footer-area footer-wave pt-100 p-r z-1">
           
            <div class="footer-wrapper text-white main-bg p-r z-1" style="background-color: #111111">
                <div class="shape shape-one animate-float-y"><span><img src="/assets/images/shape/footer-2.png" alt="Tree Image"></span></div>
                <div class="shape shape-two animate-float-y"><span><img src="/assets/images/shape/footer-1.png" alt="Tree Image"></span></div>
                <div class="container">
                    <!--====== Footer Widget ======-->
                    <div class="footer-widget-area pt-55 pb-40 p-r z-1">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <!--====== Footer Widget ======-->
                                <div class="footer-widget footer-about-widget mb-40 pr-lg-70 wow fadeInDown">
                                    <div class="widget-content">
                                        <div class="footer-logo mb-25 rounded" style="text-align: center;">
                                            <a href="/" >
                                                <img src="/assets/images/logo/acf.png" alt="Logo" style="display: block; margin: auto; padding-top: 14px;">
                                            </a>
                                        </div>
                                        
                                        
                                        <p>Ayitah Charity Foundation aims to provide aid, improve health care and transform lives in the poverty-stricken communities. </p>
                                        <a href="/contact-us" class="main-btn filled-btn filled-white">Contact Us</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <!--====== Footer Widget ======-->
                                <div class="footer-widget contact-info-widget mb-40 wow fadeInUp">
                                    <h4 class="widget-title">Connect With Us</h4>
                                    <div class="widget-content">
                                        <ul class="info-list">
                                            <li>Kireka, Opp Kireka miracle centre. Kampala, Uganda</li>
                                            <li><a href="mailto:support@gmail.com">info@ayitahcharity.org</a></li>
                                            <li><a href="tel:+000(123)45688">+256 752 007506</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-12">
                                <!--====== Footer Widget ======-->
                                <div class="footer-widget footer-nav-widget mb-40 wow fadeInDown">
                                    <h4 class="widget-title">Appeals</h4>
                                    <div class="widget-content">
                                        <ul class="footer-nav">
                                            <li><a href="/appeals/gaza">Gaza Emergency</a></li>
                                            <li><a href="/appeals/zakat">Sadaqah online </a></li>
                                            <li><a href="/appeals/sadaqah"> Zakat</a></li>
                                            <li><a href="/appeals/foodpack">Foodpack</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <!--====== Footer Widget ======-->
                                <div class="footer-widget footer-gallery-widget float-lg-right mb-40 wow fadeInUp">
                                    <h4 class="widget-title">Gallery</h4>
                                    <div class="widget-content">
                                        <ul class="gallery-list">
                                            <li>
                                                <a href="#">
                                                    <img src="/assets/images/gallery/thumb-widget-1.jpg" alt="Image">
                                                    <div class="hover-overlay">
                                                        <i class="fas fa-arrow-right"></i>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img src="/assets/images/gallery/thumb-widget-2.jpg" alt="Image">
                                                    <div class="hover-overlay">
                                                        <i class="fas fa-arrow-right"></i>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img src="/assets/images/gallery/thumb-widget-3.jpg" alt="Image">
                                                    <div class="hover-overlay">
                                                        <i class="fas fa-arrow-right"></i>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img src="/assets/images/gallery/thumb-widget-4.jpg" alt="Image">
                                                    <div class="hover-overlay">
                                                        <i class="fas fa-arrow-right"></i>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img src="/assets/images/gallery/thumb-widget-5.jpg" alt="Image">
                                                    <div class="hover-overlay">
                                                        <i class="fas fa-arrow-right"></i>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img src="/assets/images/gallery/thumb-widget-6.jpg" alt="Image">
                                                    <div class="hover-overlay">
                                                        <i class="fas fa-arrow-right"></i>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--=== Copyright Area ===-->
                    <div class="copyright-area">
                        <div class="row">
                            <div class="col-lg-6">
                                <!--====== Copyright Text ======-->
                                <div class="copyright-text">
                                    <p>Copyright&copy; 2024 Al-Fakih Trust. All Rights Reserved.</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <!--====== Copyright Nav ======-->
                                <div class="copyright-nav float-lg-right">
                                    <ul>
                                        <li><a href="#">Privacy & Policies</a></li>
                                        <li><a href="#">Faqs</a></li>
                                        <li><a href="/about">About Us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </footer><!--====== End Footer ======-->