---
import Mainlayout from "../../layouts/mainlayout.astro";
---

<Mainlayout>
  <!--====== Start Page-title-area section ======-->
  <section
    class="page-title-area text-white bg_cover"
    style="background-image: url(/assets/images/bg/page-bg-1.jpg);"
  >
    <div class="container">
      <!--======  Page-title-Inner ======-->
      <div class="page-title-inner text-center">
        <h1 class="page-title">Our Blogs</h1>
        <div class="gd-breadcrumb">
          <span class="breadcrumb-entry"><a href="index.html">Home</a></span>
          <span class="separator"></span>
          <span class="breadcrumb-entry active">Our Blogs</span>
        </div>
      </div>
    </div>
  </section><!--====== End Page-title-area section ======-->

  <section class="blog-section pt-100 pb-60">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-10">
          <!--====== Section Title ======-->
          <div class="section-title text-center mb-50 wow fadeInDown">
            <h2>Read Latest Blog</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <!--====== Single Blog Post ======-->
          <div class="single-blog-post-four mb-40 wow fadeInLeft">
            <div class="entry-content">
              <div class="post-meta">
                <span class="date"
                  ><i class="far fa-calendar-alt"></i><a
                    href="blog-details.html">25 December 2022</a
                  ></span
                >
              </div>
              <h4 class="entry-title">
                <a href="/blogs/blog-1"
                  >Empowering Orphans for a Brighter Tomorrow</a
                >
              </h4>
              <p>
                At Al Fakih Trust, we believe in the power of every donation to
                transform lives and communities.
              </p>
              <a href="/blogs/blog-1" class="btn-link"
                >Read More<i class="fas fa-arrow-right"></i></a
              >
            </div>
            <div class="post-thumbnail">
              <a href="/blogs/blog-1">
                <img
                  src="/assets/images/blog/blog-15.jpg"
                  alt="Post Thumbnail"
                />
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <!--====== Single Blog Post ======-->
          <div class="single-blog-post-four mb-40 wow fadeInRight">
            <div class="entry-content">
              <div class="post-meta">
                <span class="date"
                  ><a href="/blogs/blog-2">25 December 2022</a></span
                >
              </div>
              <h4 class="entry-title">
                <a href="/blogs/blog-2"
                  >Combating Homelessness, One Meal at a Time</a
                >
              </h4>
              <p>
                With your donation to Al Fakih Trust, you're empowering orphans
                to dream, aspire, and achieve.
              </p>
              <a href="/blogs/blog-2" class="btn-link"
                >Read More<i class="fas fa-arrow-right"></i></a
              >
            </div>
            <div class="post-thumbnail">
              <a href="/blogs/blog-2">
                <img
                  src="/assets/images/blog/blog-15.jpg"
                  alt="Post Thumbnail"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <!--====== Single Blog Post ======-->
          <div class="single-blog-post-four mb-40 wow fadeInLeft">
            <div class="entry-content">
              <div class="post-meta">
                <span class="date"
                  ><i class="far fa-calendar-alt"></i><a href="/blogs/blog-3"
                    >25 December 2022</a
                  ></span
                >
              </div>
              <h4 class="entry-title">
                <a href="/blogs/blog-3"
                  >The Impact of Donating to Al Fakih Trust</a
                >
              </h4>
              <p>
                Homelessness can be a harsh reality for many individuals, but
                with your donation, we're able to make a meaningful impact.
              </p>
              <a href="/blogs/blog-3" class="btn-link"
                >Read More<i class="fas fa-arrow-right"></i></a
              >
            </div>
            <div class="post-thumbnail">
              <a href="/blogs/blog-3">
                <img
                  src="/assets/images/blog/blog-15.jpg"
                  alt="Post Thumbnail"
                />
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <!--====== Single Blog Post ======-->
          <div class="single-blog-post-four mb-40 wow fadeInRight">
            <div class="entry-content">
              <div class="post-meta">
                <span class="date"
                  ><a href="/blogs/blog-4">25 December 2022</a></span
                >
              </div>
              <h4 class="entry-title">
                <a href="/blogs/blog-4"> A Lifesaving Initiative</a>
              </h4>
              <p>
                For those without a roof over their heads, every day is a
                struggle for survival.
              </p>
              <a href="/blogs/blog-4" class="btn-link"
                >Read More<i class="fas fa-arrow-right"></i></a
              >
            </div>
            <div class="post-thumbnail">
              <a href="/blogs/blog-4">
                <img
                  src="/assets/images/blog/blog-15.jpg"
                  alt="Post Thumbnail"
                />
              </a>
            </div>
          </div>
        </div>
      </div><div class="row">
        <div class="col-md-6">
          <!--====== Single Blog Post ======-->
          <div class="single-blog-post-four mb-40 wow fadeInLeft">
            <div class="entry-content">
              <div class="post-meta">
                <span class="date"
                  ><i class="far fa-calendar-alt"></i><a href="/blogs/blog-5"
                    >25 December 2022</a
                  ></span
                >
              </div>
              <h4 class="entry-title">
                <a href="/blogs/blog-5">
                  Planting Trees for Generations to Come
                </a>
              </h4>
              <p>
                Environmental sustainability is at the heart of our mission at
                Al Fakih Trust.
              </p>
              <a href="/blogs/blog-5" class="btn-link"
                >Read More<i class="fas fa-arrow-right"></i></a
              >
            </div>
            <div class="post-thumbnail">
              <a href="/blogs/blog-5">
                <img
                  src="/assets/images/blog/blog-15.jpg"
                  alt="Post Thumbnail"
                />
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <!--====== Single Blog Post ======-->
          <div class="single-blog-post-four mb-40 wow fadeInRight">
            <div class="entry-content">
              <div class="post-meta">
                <span class="date"
                  ><a href="/blogs/blog-6">25 December 2022</a></span
                >
              </div>
              <h4 class="entry-title">
                <a href="/blogs/blog-6">Our Commitment to Donors</a>
              </h4>
              <p>
                At Al Fakih Trust, we understand the importance of transparency
                and accountability.
              </p>
              <a href="/blogs/blog-6" class="btn-link"
                >Read More<i class="fas fa-arrow-right"></i></a
              >
            </div>
            <div class="post-thumbnail">
              <a href="/blogs/blog-6">
                <img
                  src="/assets/images/blog/blog-15.jpg"
                  alt="Post Thumbnail"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</Mainlayout>
