---
import Mainlayout from "./mainlayout.astro";
const { frontmatter } = Astro.props;
---
<Mainlayout>
<!--====== Start Page-title-area section ======-->
<section class="page-title-area text-white bg_cover" style="background-image:/assets/images/blog/blog-1.jpg ;">
    <div class="container">
        <!--======  Page-title-Inner ======-->
        <div class="page-title-inner text-center">
            <h1 class="page-title">{frontmatter.title}</h1>
            <div class="gd-breadcrumb">
                <span class="breadcrumb-entry"><a href="index.html">Home</a></span>
                <span class="separator"></span>
                <span class="breadcrumb-entry active">Blog</span>
            </div>
        </div>
    </div>
</section><!--====== End Page-title-area section ======-->
<!--====== Start Blog Details section ======-->
<section class="blog-details-section pt-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-12">
                <!--=== Blog Details Wrapper ===-->
                <div class="blog-details-wrapper">
                    <!--=== Blog Post ===-->
                    <div class="blog-post wow fadeInUp">
                      
                        <div class="entry-content">
                            <h3 class="title">{frontmatter.title}</h3>
                           
                            <div class="block-image"><img src={frontmatter.image} alt="Post Image"></div>
                          <slot/>
                            
                        </div>

                        <div class="entry-footer wow fadeInUp d-flex justify-content-end">
                            <div class="social-share" style="align-items: center;">
                                <h6>Share:</h6>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        
                    </div>
               
                    
                </div>
            </div>
            <div class="col-xl-4 col-lg-12">
                <!--=== Sidebar widget Area ===-->
                <div class="sidebar-widget-area">
                    <!--=== Search Widget ===-->
                    
                  
                  
                    <!--=== Recent Post Widget ===-->
                    <div class="sidebar-widget widget-recent-post mb-40 wow fadeInUp">
                        <h4 class="widget-title">Recent Blogs</h4>
                        <ul class="recent-post-list">
                            <li class="post-thumbnail-content">
                                <img src="/assets/images/blog/post-thumb-1.jpg" alt="post thumb">
                                <div class="post-title-date">
                                    <span class="posted-on"><a href="#">25 Dec 2022</a></span>
                                    <h6><a href="/blogs/blog-1">Empowering Orphans for a Brighter Tomorrow</a></h6>
                                </div>
                            </li>
                            <li class="post-thumbnail-content">
                                <img src="/assets/images/blog/post-thumb-2.jpg" alt="post thumb">
                                <div class="post-title-date">
                                    <span class="posted-on"><a href="#">25 Dec 2022</a></span>
                                    <h6><a href="/blogs/blog-2">Combating Homelessness, One Meal at a Time</a></h6>
                                </div>
                            </li>
                            <li class="post-thumbnail-content">
                                <img src="/assets/images/blog/post-thumb-3.jpg" alt="post thumb">
                                <div class="post-title-date">
                                    <span class="posted-on"><a href="#">25 Dec 2022</a></span>
                                    <h6><a href="/blogs/blog-3">The Impact of Donating to Al Fakih Trust</a></h6>
                                </div>
                            </li>
                        </ul>
                    </div>
                  
                    <!--=== Tag Widget ===-->
                    <div class="sidebar-widget widget-tag-cloud mb-40 wow fadeInUp">
                        <h4 class="widget-title">Tags</h4>
                        <a href="#">GAZA</a>
                        <a href="#">Donation</a>
                        <a href="#">Homeless people</a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--====== End Blog Details section ======-->




    
</Mainlayout>


